@charset "UTF-8";
         #carousel-inner {
            width: 100%;
            height: 350px;
            margin: auto;
        }
        
         #carousel {
          width: 100%;
          position: relative;
        }
        
           #carousel-inner .item:nth-child(1) {
          background: url('${contextPath}/resources/images/course1.png') no-repeat center center;
          background-size: cover;
          }
          
         #carousel-inner .item:nth-child(2) {
         background: url('${contextPath}/resources/images/course2.png') no-repeat center center;
         background-size: cover;
        }
        
           #carousel-inner .item:nth-child(3) {
         background: url('${contextPath}/resources/images/course3.png') no-repeat center center;
         background-size: cover;
        }

         #carousel-indicators {
          position: absolute;
          width: 50%;
          right: 0;
          left: 35%;
          cursor: pointer;
          transform: translate(-50%,-50%);
        }

        #carousel-control-prev,
        #carousel-control-next {
          top: 25%;
        }
        #item > img {
          position: absolute;
          top: -40%;
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
        body {
            margin-left:50px;
            margin-right:50px;
        }
        
        @font-face	{
             /*
             font-family:	[사용할 폰트이름];
              src:			[폰트 자원의 위치-local(폰트이름), url(자원의 경로)];
              */
              font-family:	'Nanum';
                 src:			url('../font/NanumGothic.eot');
                 src:			url('../font/NanumGothic.eot?#iefix') 	format('embedded-opentype'), 
                                url('../font/NanumGothic.woff')			format('woff'),
                                url('../font/NanumGothic.ttf')			format('truetype');
}
        
        #footer_content {
               text-align: center;
        }
        
        