@charset "UTF-8";
/* 주석활용해서 폴더 및 페이지 섹션별로 나눠서 작업해주세요~ */

        
  body {
		margin: 0;
		padding: 0;
	}
		
	#main_img--seoul {
		  max-width: 100%;
  height: auto
	}
	
	#main_img--seoul img {
		width: inherit;
		height: inherit;
		object-fit: cover;
	}
	
	     
   	#main_bestcourse {
        text-align: center;
        color: white;
        margin-top: 50px;
        margin-bottom: 40px;

     }

    #main_bestcourse > p,
    #main_review > p {
        background-color: white;
        font-family: "jua", sans-serif;
        font-weight: bold;
        color: #5882FA;
        width: 100%;
        font-size: 30px;
        padding: 5px 1px 5px 1px;
      }
   
   	.container {
   		/*border: 2px solid red;*/
   		margin : 70px 0;
  	 } 
    
    #main_review {
	   /*border: 2px solid red; */
	    font-size: 20px;
	    width: 1600px;
	    margin: auto;
	    text-align: center;
    }
    
    #main_review p {
    	/*border: 2px solid red;*/
    	text-align: center;
    }
    

     #main_review--bcp {
        /*border: 1px solid #495c75;*/
        margin: 30px 0;
        width: 1050px;
        height: 310px;
        border-radius: 20px;
        display: inline-block;
        position: relative;
     }
     
          
     #main_review--bcp--table{
      	font-family:  Nanum;
     	position: absolute;
     	top: 50%;
     	left: 50%;
     	transform: translate(-50%, -50%);
     }
     
     #main_review--bcp--table tr {
       border-bottom: 1px solid black;
     }     
     
     #main_review--bcp--table th {
     
      text-align: center;
     
     }
     
     #main_review--bcp--table a{
      text-decoration: none;
       color: #647C97;
     }
      
    @font-face	{
         /*
         font-family:	[사용할 폰트이름];
          src:			[폰트 자원의 위치-local(폰트이름), url(자원의 경로)];      
          */
           font-family:	'Nanum';
                 src:			url('../font/NanumGothic.eot');
                 src:			url('../font/NanumGothic.eot?#iefix') 	format('embedded-opentype'), 
                                url('..//font/NanumGothic.woff')			format('woff'),
                                url('../font/NanumGothic.ttf')			format('truetype');
}
        
     #footer_content {
         text-align: center;
     }

/* area폴더 페이지 영역 시작*/
.area_centered {
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

.area_ol {
	font-size: 16px;
	list-style-image: url(../images/circle.png);
}

.area_ol li {
	margin-top: 8px;
}

.area_ol a {
	margin-top: 8px;
	font-weight: 500;
	color: #333;
	font-family: NotoSansKR, NotoSansJP;
}

.area_hr-solid {
	border: 0px;
	border-top: 2px solid #1a3273;
}

.hashtag {
	padding: 5px 10px 5px;
	border-bottom: 1px solid #e6e6e6;
}

.hashtag a {
	display: inline-block;
	font-weight: 700;
	margin: 3px;
	color: #333;
	font-family: NotoSansKR, NotoSansJP;
}

.area_course_title a {
	color: #333;
}
#a {
  height:260px;
  margin: 0px auto;
  overflow: hidden;
}
#a img {
  transition: all 0.2s linear;
}

#a:hover img {
	  height:260px;
  transform: scale(1.4);
}
/* area폴더 페이지 영역 끝*/

/* signin 페이지 영역 시작*/

.signin_centered {
	width: 300px;
	height:600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#signin_form_border{
	padding: 20px 0px 5px 0px;
	border-width: 1px;
	border-style: solid;
    border-color: #c7c7c7;
    border-radius: 10px;
}
.signin_centered input{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

.logo_box {
	margin: auto;
	width: 250px;
	height: 220px;
	border-radius: 70%;
	overflow: hidden;
	background: #ffffff;
}

.logo_profile {
	width: 90%;
	height: 90%;
	object-fit: cover;
}
.account{
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
    border-color: #c7c7c7;
    border-radius: 10px;
}

.id_pw{
   margin-top: 5px;
}
.signin_btn{
	border: none;
	background: #1050a3;
	color: #ffffff;
	font-size: 20px;
	width: 250px;
	border-radius: 3px;
}
/* signin 페이지 영역 끝*/