@charset "UTF-8";
/* 주석활용해서 폴더 및 페이지 섹션별로 나눠서 작업해주세요~ */
@font-face {
	font-family: 'Nanum';
	src: url('../font/NanumGothic.eot');
	src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
		url('..//font/NanumGothic.woff') format('woff'),
		url('../font/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	width: 100%;
	height: 100%;
	display: table;
}

body {
	margin: 0; padding : 0;
	height: 100%;
	padding: 0;
	width: 100%;
	display: table-cell;
}
.sub_menubar #main_nav{
 background-color: #485ca3;
}

/*footer 부분*/
footer {
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: #333333;
}
.btn-quick-top {
    position: fixed;
    right: 20px;
    z-index: 90;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 50px;
    border-radius: 50%;
    bottom: 20px;
    border: 1px solid #CCCCCC;
    background-color: #fff;
    text-align: center;
}

.btn-quick-top > .ico-arrow{
	margin: 13px 0 0 0;
    width: 14px;
    height: 18px;
    background: url(../images/topbtn.png) no-repeat top center;
    background-size: 100%;
}

.btn-quick-top i {
    display: inline-block;
    vertical-align: top;
}
/* footer */

#main_container {
	height: auto;
	min-height: 100%;
	padding-bottom: 200px;
}

.h_container {
	width: 100%;
	height: 1000px;
	overflow: hidden;
	margin: 0px auto;
	position: relative;	
}

video{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	z-index:-1;
}

.home_data {
	position: absolute;
	top: 40%; 
	width: 100%;
	/*z-index: 999;*/

}

.home_data p {
	margin-top: -60px;
	margin-left: 50px;
	color: #fff;
	text-align: left;
	font-family: 'LeferiPoint-SpecialItalicA';
	font-size: 150px;
	font-weight: bold;
}

.home_data-subtitle {
	color: #fff;
	margin-top: 0px;
	margin-left: 50px;
	padding: 0 0 0 20px;
	font-family: 'LeferiPoint-SpecialItalicA';
	font-size: 55px;
}

/* 사진 슬라이드 부분 */
#main_bestcourse  {
	webkit-box-sizing: border-box;
	position: relative;
	background-color : #fff;
	padding: 80px 2% 80px;
}

#main_bestcourse h2 {
	font-family: 'Happiness-Sans-Title';
	text-align : center;
}


.banner_title{
	font-family: 'Happiness-Sans-Title';
	text-align: center;
    padding-bottom: 20px;
	margin-left: 300px;
	margin-right: 300px;
    margin-top: 100px;
    font-size: 20px;
}

.clearfix {
	margin-left: auto;
	margin-right: auto;
    border-bottom: 1px solid #b5b3b3;
	
}

.clearfix th {
	width: 200px;
	height: 28px;
	text-align: center;
	padding-bottom: 12px;
}

.clearfix a {
	text-decoration: none;
 	color: black;
}

#main_bestcourse h3{
	font-family: 'Happiness-Sans-Bold';
	text-transform: uppercase;
	text-align: center;
	font-size: 70px;
	color : #fff;
	padding: 35px 0 0 0;
	position: relative;
}

.m_center a {
	text-decoration: none;
}

#course_1{
	background-image:url(../images/seoul1.jpg);
	width: 100%;
	height: 260px;
	background-size: cover;
	position: relative;
}

#course_1::before, #course_2::before, #course_3::before {
	content:"";
	opacity: 0.4;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: #000;
}

#course_1 p, #course_2 p, #course_3 p{
	font-family: 'Happiness-Sans-Bold';
	position: relative;
	text-align: center;
	font-size: 70px;
	color : #fff;
}

#course_2{
	background-image:url(../images/busan1.jpg);
	width: 100%;
	height: 260px;
	background-size: cover;
	position: relative;
	align-content : center;
}

#course_3{
	background-image:url(../images/jeju1.jpg);
	width: 100%;
	height: 260px;
	background-size: cover;
	position: relative;
	align-content : center;
}


/* 하단 테이블 */
.front {
	/*border: 2px solid red;*/
	padding: 150px 0;
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	height: 400px;
}

#main_notice-container {
	position: relative;
	width: 600px;
	margin-left: 120px;
	margin-bottom: 100px;
}

#main_review-container{
	width: 600px;
	position: relative;
}

#main_notice-container a, #main_review-container a {
	color: #404040;
	text-decoration: none;
}

#main_notice-container h3, #main_review-container h3 {
	text-align: left;
}

#main_notice-container tr, #main_review-container tr {
	border-bottom: 1px solid black;
}

#main_notice-container th, #main_review-container th {
	text-align: center;
}

#main_notice-container .title, #main_review-container .title {
	font-weight: bold;
	text-align: left;
	background-color: rgb(72, 92, 163);
	border-radius: 5px;
	color: #fff;
	padding: 10px;
}

.btn_more {
	width: 30px;
	height: 30px;
	top: 27px;
	right: 10px; 
	position: absolute;
	z-index: 999;
}

.btn_more>a {
	width: inherit;
	height: inherit;
}

.btn_more>a img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	z-index: 9999;
}

#main_review-table, #main_notice-table {
	margin-top: 40px;
	margin-bottom: 100px;
}

/*notice 영역*/
.notice-container {
	text-align: center;
	height: auto;
	min-height: 100%;
}

.notice-container h1 {
	font-size: 45px;
	color: #ccc;
	margin: 100px 0 0 0;
	padding: 0 0 0 500px;
	font-weight: nomal;
	
}

.notice-container .not_title{
	font-style: oblique;
	font-weight: bold;
	text-align: left;
	color: #CCC;
	padding-top: 15px;
	padding-bottom: 20px;
}

.notice-container th {
	height: 20px;
	text-transform: capitalize;
	font-size: 20px;
	font-family: "Nanum", serif;
	font-weight: bold;
	padding: 5px;
	color: #404040;
	text-align: center;
}

.notice-container th.tno {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 50px;
}

.notice-container th.ttitle {
	width: 400px;
	letter-spacing: 0.7em;
}

.notice-container th.twriter {
	width: 100px;
}

.notice-container th.tdate {
	width: 50px;
}

.notice-container th.tread {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 50px;
}

.notice-container thead {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}

.notice-container td {
	font-size: 15px;
	text-align: center;
	padding: 6px 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
}

.notice-container td.left {
	text-align: center;
	font-size: 20px;
}
.notice-container td.left a {
	color: #404040;
	text-decoration: none;
}

table#notice {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}

#page_control {
	text-align: center;
	margin: 20px 0 0 0;
	margin-right: auto;
	margin-left: auto;
}

#page_control a {
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
	margin: 0 5px;
}

#page_control a:hover {
	font-weight: bold;
	color: #f90;
}

/* 지하철 노선도 페이지 영역*/
.subway_tab{
		margin-top: 100px;
		text-align: center;
}
#sub_main{
	margin-left: auto;
	margin-right: auto;
}
.sub_imgframe{
	width: 70%;
	margin: 30px auto;
	
}
.sub_img{
	width:100%;
	height: 100%;
}

#sbw_container{
	text-align: left;
	height: auto;
	min-height: 100%;
}

#sbw_container h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	padding: 30px 0 0 400px;
}


.board-box{
	font-family: 'Happiness-Sans-Title';
	text-align: center;
    padding-bottom: 20px;
	margin-left: 300px;
	margin-right: 300px;
    margin-top: 100px;
    font-size: 25px;
}

.board-box-title {
	margin-left: auto;
	margin-right: auto;
    border-bottom: 1px solid #b5b3b3;
}

.board-box-title th {
	font-size: 20px;
	width: 200px;
	height: 28px;
	text-align: left;
	padding-bottom: 12px;
}

.board-box-title a {
	text-decoration: none;
 	color: black;
}

/* area폴더 페이지 영역 시작*/
.area_main {
	height: auto;
	min-height: 100%;
}

.area_centered {
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

.area_centered span {
	font-size: 48px;
	font-family: NotoSansKR, NotoSansJP;
}

.area_ol {
	font-size: 16px;
	list-style-image: url(../images/circle.png);
}

.area_ol li {
	margin-top: 8px;
}

.area_ol a {
	margin-top: 8px;
	font-weight: 500;
	color: #333;
	font-family: NotoSansKR, NotoSansJP;
}

.area_hr-solid {
	border: 0px;
	border-top: 1px solid #e6e6e6;
}

.hashtag {
	padding: 5px 10px 5px;
	border-bottom: 1px solid #e6e6e6;
}

.hashtag a {
	display: inline-block;
	font-weight: 700;
	margin: 3px;
	color: #333;
	font-family: NotoSansKR, NotoSansJP;
}

.area_course_title a {
	color: #333;
}

#a {
	height: 260px;
	margin: 0px auto;
	overflow: hidden;
}

#a img {
	transition: all 0.2s linear;
}

#a:hover img {
	height: 260px;
	transform: scale(1.4);
}
/* area폴더 페이지 영역 끝*/

/* signin 페이지 영역 시작*/
.signin_centered {
	width: 340px;
	height: auto;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
}

#signin_form_border {
	padding: 30px 0px 15px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #c7c7c7;
	border-radius: 10px;
}

.signin_centered input {
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}

.logo_box {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	border-radius: 70%;
	overflow: hidden;
	background: #ffffff;
}

.logo_profile {
	width: 90%;
	height: 90%;
	object-fit: cover;
}

.account {
	text-align: center;
	margin-top: 20px;
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #c7c7c7;
	border-radius: 10px;
}

.id_pw {
	margin-top: 10px;
}

.signin_btn {
	border: none;
	background: #1050a3;
	color: #ffffff;
	font-size: 20px;
	width: 280px;
	height: 40px;
	border-radius: 3px;
}
/* signin 페이지 영역 끝*/

/* signup 페이지 영역 시작 */
.signup_input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 10px 40px 40px 40px;
	background: #fff;
	-webkit-border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #c7c7c7;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.signup_centered {
	width: 500px;
	margin-top: 50px;	
	height: auto;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-color: #c7c7c7;
}

.signup_centered h2 {
	text-align: center;
}

.validation-form div.mb {
	padding: 5px 5px 5px 8px;
	margin: auto;
}

.validation-form div.mb-3 {
	padding: 10px;
}

.validation-form div.mb-4 {
	padding: 10px;
}

.signup_email {
	width: 98px;
	padding: 6px;
	border: 1px solid #999;
	font-family: 'Nanumgothic';
	font-size: 12px;
}

#email_div button {
	position: absolute;
	width: 88px;
	height: 28px;
	top: 0;
	bottom: 0;
	right: 15px;
	margin: auto;
	align-items: center; /* 가로 - 중앙으로 */
	justify-content: flex-start;
	color: #ffffff;
	border: none;
	background-color: #4575a8;
	border-radius: 3px;
}

.signup.btn {
	width: 98px;
	color: #ffffff;
	border: none;
	padding: 6px;
	align-items: center; /* 가로 - 중앙으로 */
	justify-content: flex-start;
	background-color: #4575a8;
	border-radius: 3px;
	justify-content: flex-start;
}
/* signup 페이지 영역 끝 */

/*  상세 정보 페이지 영역 시작 */
.contents_centered {
	margin: 100px 300px;
}

.titleType1 {
	text-align: center;
	position: relative;
	padding-bottom: 40px;
}

.titleType1 label {
	font-size: 20px;
}

.titleType1 h2 {
	overflow: hidden;
	font-weight: 800;
	color: #333;
	font-size: 36px;
	letter-spacing: -1px;
	word-break: keep-all;
}

.titleType1 .tit h2 .tit_cos {
	display: inline-block;
	width: 65px;
	height: 32px;
	line-height: 32px;
	vertical-align: 5px;
	margin-right: 10px;
	background: #ed4956;
	border-radius: 50px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
}

.titleType1 .area_address {
	display: inline-block;
	padding-top: 5px;
}

.titleType1 .area_address span {
	float: left;
	font-size: 16px;
	color: #666;
}

.titleType1 .area_address span+span:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #ccc;
	margin: 0 10px;
	vertical-align: -2px;
}

.area_txtView {
	padding: 20px;
}

.area_txtView .inr p {
	color: #333;
	font-size: 18px;
	line-height: 1.7;
	letter-spacing: -1px;
}

.schedule_info {
	width: 100%;
	height: 160px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 40px;
}

.schedule_info ul {
	display: block;
	list-style-type: none;
	width: 800px;
	height: 160px;
	margin-left: auto;
	margin-right: auto;
}

.schedule_info ul li {
	float: left;
	width: 40%;
	padding: 40px 0px 0px 80px;
}

.schedule_info .schedule li .img {
	float: left;
}

.schedule_info .schedule li em {
	display: block;
	padding: 15px 0 3px 98px;
	font-weight: 700;
	font-size: 14px;
	font-family: "NotoSansKR";
	color: #777;
}

.schedule_info .schedule li strong {
	display: block;
	padding: 0 0 0 98px;
	font-weight: 700;
	font-size: 18px;
	color: #333;
}

#map {
	width: 100%;
	height: 500px;
	margin: auto;
}

.line_wrap {
	margin-top: 20px;
}

.line_wrap .left {
	float: left;
	margin-right: 15px;
	width: 300px;
	height: 150px;
}

.line_wrap .right {
	float: left;
	background-color: #f1f1f1;
	width: calc(100% - 315px);
	height: 150px;
	border-radius: 3px;
	padding: 25px 30px;
	box-sizing: border-box;
}

.line_wrap .left img {
	width: 100%;
	height: 100%;
}
/*  상세 정보 페이지 영역 끝 */

/*  마이 페이지 영역 시작 */
#mypage_main {
   height: auto;
   min-height: 100%;
}
.form-group {font-family: Play;}

#btn-remove{
   background-color: white;
   color: red;
   border: none;
   font-family: Play;
   font-size: 13px;
   font-weight: bold;
}

#btn-remove:hover {text-decoration:underline;}

#btn-update{
   background-color: white;
   color: black;
   border: none;
   font-family: Play;
   font-size: 13px;
   font-weight: bold;
}

#btn-update:hover {text-decoration:underline;}

#addressSearch{
   border : 1px solid #CCC;
    background-color: white;
    color: #3f6eb0;
  
}

#addressSearch:hover {background-color: #b0c8e8;}

.title {margin-bottom: auto;}

.addr{
   position: relative;
}

.addr button {
   position: absolute;
   width: 90px;
   height: 24px;
   top: 0;
   bottom: 30px;
   right: 5px;
   margin: 6px 0 0 500px;
   border-radius: 3px;
}
#line input{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding: 2px 4px;
    width: 600px;
    border-bottom: 1px solid #d7dbe0;
    height: 35px;
}

#account {
margin-left: auto;
margin-right: auto;
width: 600px;
}
/*  마이 페이지 영역 끝 */

/* 리뷰 게시판 영영 시작 */
/* boardDetail */
.container {
	text-align: center;
	height: auto;
	min-height: 100%;
}
#title {
	/*font-style: oblique;*/
    font-weight: 800;
    color: #d4d6d9;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 100px;
}
#btn-list{
   background-color: #FFF;
   font-weight: bold;
   font-size: 13px;
}
#btn-update{
   margin-left:600px;
   background-color: #FFF;
   font-weight: bold;
   font-size: 13px;
}
#btn-delete {
   color: red;
   background-color: #FFF;
   font-weight: bold;
   font-size: 13px;
}
#btn-delete:hover {text-decoration: underline;}
#btn-list:hover {text-decoration: underline;}
#btn-update:hover {text-decoration: underline;}
/* boardDetail */
/*boardRegisterForm*/
.container {
	text-align: center;
	height: auto;
	min-height: 100%;
}
#title {
   font-weight: 800;
   text-align: left;
   color: #d4d6d9;
   padding-top: 15px;
   padding-bottom: 20px;
   margin-top: 100px;
}

#post {
	background-color: #fff;
	font-weight: bold;
	font-size: 13px;
}
/*boardRegisterForm*/
/* 리뷰 게시판 영역 끝 */